body {
  font-family: ArialPixel;
  background-color: #00FF66;
}
.tab {
  overflow: hidden;
  border: 3px solid #000000;
  background-color: #CCCCCC;
}

.tab button {
  background-color: #cccccc;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #000000;
  font-family: ArialPixel;
  border-right: 3px solid;
}

.tab button:hover {
  background-color: #FFFFFF;
}

.tab button.active {
  background-color: #FFFFFF;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 3px solid #000000;
  border-top: none;
  background-color: #FFFFFF;
}

@font-face {
  font-family: ArialPixel;
  src: url("https://cdn.jsdelivr.net/gh/ekmas/cs16.css@main/ArialPixel.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}